body {
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #999;
}

#main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('/images/background.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#content {
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#about {
    padding-bottom: 20px;
    font-weight: normal;
    text-indent: -9999px;
    width: 300px;
    height: 300px;
    background: url('/images/logo.png') no-repeat 100% 100%;
    margin: 0 auto;
    padding-top: 50px;
}
#about:hover{
    background: url('/images/logo-hover.png') no-repeat 100% 100%;
    transition: all 0.25s;
    -webkit-transition: all 0.25s; /* Safari */
}

#
#speech-content-elements {
    position: relative;
    margin: auto;
    max-height: 200px;
    max-width: 600px;
}

#speech-page-content {
    margin: 20px auto;
    padding: 20px;
    height: 200px;
    width: 600px;
    border: none;
    resize: none;
    font-family: arial, sans-serif;
    font-size: 14px;
}

#speech-page-content:focus {
    outline: none;
}

.speech-content-mic {
    cursor:pointer;
}

.speech-mic {
    background-size: contain;
}

.speech-mic-works {
    background: url("/images/speech-mic-works.gif") no-repeat 100% 100% !important;
    background-size: contain;
    border-radius: 200px;
}

#authority {
    padding-top: 10px;
}